<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2022">
		<title>Serving static files &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="02.00-foundations.html">Foundations</a> &rsaquo; Serving static files</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="02.07-html-templating-and-inheritance.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="02.09-the-http-handler-interface.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 2.8.</div>
			<h2 id="serving-static-files">Serving static files</h2>

<p>Now let&rsquo;s improve the look and feel of the home page by adding some static CSS and image files to our project, along with a tiny bit of JavaScript to highlight the active navigation item.</p>

<p>If you&rsquo;re following along, you can grab the necessary files and extract them into the <code>ui/static</code> folder that we made earlier with the following commands:</p>

<figure class="code bash">
<pre>$ cd $HOME/code/snippetbox
$ curl https://www.alexedwards.net/static/sb-v2.tar.gz | tar -xvz -C ./ui/static/</pre>
</figure>

<p>The contents of your <code>ui/static</code> directory should now look like this:</p>

<figure class="img">
<img src="assets/img/02.08-01.png" alt="02.08-01.png" />
</figure>

<h3 id="the-http-fileserver-handler">The http.Fileserver handler</h3>

<p>Go&rsquo;s <code>net/http</code> package ships with a built-in <a href="https://pkg.go.dev/net/http/#FileServer"><code>http.FileServer</code></a> handler which you can use to serve files over HTTP from a specific directory. Let’s add a new route to our application so that all requests which begin with <code>&quot;/static/&quot;</code> are handled using this, like so:</p>

<table>
<thead>
<tr>
<th>Method</th>
<th>Pattern</th>
<th>Handler</th>
<th>Action</th>
</tr>
</thead>

<tbody>
<tr>
<td>ANY</td>
<td>/</td>
<td>home</td>
<td>Display the home page</td>
</tr>

<tr>
<td>ANY</td>
<td>/snippet/view?id=1</td>
<td>snippetView</td>
<td>Display a specific snippet</td>
</tr>

<tr>
<td>POST</td>
<td>/snippet/create</td>
<td>snippetCreate</td>
<td>Create a new snippet</td>
</tr>

<tr>
<td>ANY</td>
<td>/static/</td>
<td>http.FileServer</td>
<td>Serve a specific static file</td>
</tr>
</tbody>
</table>
<aside class="hint"><p>
 <strong>Remember:</strong> The pattern <code>&quot;/static/&quot;</code> is a subtree path pattern, so it acts a bit like there is a wildcard at the end.
</p></aside>

<p>To create a new <code>http.FileServer</code> handler, we need to use the <a href="https://pkg.go.dev/net/http/#FileServer"><code>http.FileServer()</code></a> function like this:</p>

<figure class="code go">
<pre><span class="nx">fileServer</span> <span class="o">:=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">FileServer</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nf">Dir</span><span class="p">(</span><span class="s">&#34;./ui/static/&#34;</span><span class="p">)</span><span class="p">)</span></pre>
</figure>

<p>When this handler receives a request, it will remove the leading slash from the URL path and then search the <code>./ui/static</code> directory for the corresponding file to send to the user.</p>

<p>So, for this to work correctly, we must strip the leading <code>&quot;/static&quot;</code> from the URL path <em>before</em> passing it to <code>http.FileServer</code>. Otherwise it will be looking for a file which doesn&rsquo;t exist and the user will receive a <code>404 page not found</code> response. Fortunately Go includes a <a href="https://pkg.go.dev/net/http/#StripPrefix"><code>http.StripPrefix()</code></a> helper specifically for this task.</p>

<p>Open your <code>main.go</code> file and add the following code, so that the file ends up looking like this:</p>

<figure class="code go">
<figcaption>File: cmd/web/main.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;log&#34;</span>
    <span class="s">&#34;net/http&#34;</span>
<span class="p">)</span>

<span class="kd">func</span> <span class="nf">main</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">mux</span> <span class="o">:=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">NewServeMux</span><span class="p">(</span><span class="p">)</span>

    <span class="c1">// Create a file server which serves files out of the &#34;./ui/static&#34; directory.
</span><span class="c1"></span>    <span class="c1">// Note that the path given to the http.Dir function is relative to the project
</span><span class="c1"></span>    <span class="c1">// directory root.
</span><span class="c1"></span>    <span class="nx">fileServer</span> <span class="o">:=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">FileServer</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nf">Dir</span><span class="p">(</span><span class="s">&#34;./ui/static/&#34;</span><span class="p">)</span><span class="p">)</span>

    <span class="c1">// Use the mux.Handle() function to register the file server as the handler for
</span><span class="c1"></span>    <span class="c1">// all URL paths that start with &#34;/static/&#34;. For matching paths, we strip the
</span><span class="c1"></span>    <span class="c1">// &#34;/static&#34; prefix before the request reaches the file server.
</span><span class="c1"></span>    <span class="nx">mux</span><span class="p">.</span><span class="nf">Handle</span><span class="p">(</span><span class="s">&#34;/static/&#34;</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nf">StripPrefix</span><span class="p">(</span><span class="s">&#34;/static&#34;</span><span class="p">,</span> <span class="nx">fileServer</span><span class="p">)</span><span class="p">)</span>

    <span class="c1">// Register the other application routes as normal.
</span><span class="c1"></span>    <span class="nx">mux</span><span class="p">.</span><span class="nf">HandleFunc</span><span class="p">(</span><span class="s">&#34;/&#34;</span><span class="p">,</span> <span class="nx">home</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">HandleFunc</span><span class="p">(</span><span class="s">&#34;/snippet/view&#34;</span><span class="p">,</span> <span class="nx">snippetView</span><span class="p">)</span>
    <span class="nx">mux</span><span class="p">.</span><span class="nf">HandleFunc</span><span class="p">(</span><span class="s">&#34;/snippet/create&#34;</span><span class="p">,</span> <span class="nx">snippetCreate</span><span class="p">)</span>

    <span class="nx">log</span><span class="p">.</span><span class="nf">Print</span><span class="p">(</span><span class="s">&#34;Starting server on :4000&#34;</span><span class="p">)</span>
    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">ListenAndServe</span><span class="p">(</span><span class="s">&#34;:4000&#34;</span><span class="p">,</span> <span class="nx">mux</span><span class="p">)</span>
    <span class="nx">log</span><span class="p">.</span><span class="nf">Fatal</span><span class="p">(</span><span class="nx">err</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>Once that&rsquo;s complete, restart the application and open <a href="http://localhost:4000/static/"><code>http://localhost:4000/static/</code></a> in your browser. You should see a navigable directory listing of the <code>ui/static</code> folder which looks like this:</p>

<figure class="img">
<img src="assets/img/02.08-02.png" alt="02.08-02.png" />
</figure>

<p>Feel free to have a play around and browse through the directory listing to view individual files. For example, if you navigate to <a href="http://localhost:4000/static/css/main.css"><code>http://localhost:4000/static/css/main.css</code></a> you should see the CSS file appear in your browser like so:</p>

<figure class="img">
<img src="assets/img/02.08-03.png" alt="02.08-03.png" />
</figure>

<h3 id="using-the-static-files">Using the static files</h3>

<p>With the file server working properly, we can now update the <code>ui/html/base.tmpl</code> file to make use of the static files:</p>

<figure class="code html">
<figcaption>File: ui/html/base.tmpl</figcaption>
<pre>{{define &#34;base&#34;}}
<span class="cp">&lt;!doctype html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&#39;en&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">head</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&#39;utf-8&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">title</span><span class="p"></span><span class="p">&gt;</span>{{template &#34;title&#34; .}} - Snippetbox<span class="p">&lt;</span><span class="p">/</span><span class="nt">title</span><span class="p">&gt;</span>
         <span class="c">&lt;!--</span><span class="c"> Link to the CSS stylesheet and favicon </span><span class="c">--&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/static/css/main.css&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;shortcut icon&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/static/img/favicon.ico&#39;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;image/x-icon&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="c">&lt;!--</span><span class="c"> Also link to some fonts hosted by Google </span><span class="c">--&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">body</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">header</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">h1</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/&#39;</span><span class="p"></span><span class="p">&gt;</span>Snippetbox<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">h1</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">header</span><span class="p">&gt;</span>
        {{template &#34;nav&#34; .}}
        <span class="p">&lt;</span><span class="nt">main</span><span class="p"></span><span class="p">&gt;</span>
            {{template &#34;main&#34; .}}
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">main</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">footer</span><span class="p"></span><span class="p">&gt;</span>Powered by <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;https://golang.org/&#39;</span><span class="p"></span><span class="p">&gt;</span>Go<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">footer</span><span class="p">&gt;</span>
         <span class="c">&lt;!--</span><span class="c"> And include the JavaScript file </span><span class="c">--&gt;</span>
        <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;/static/js/main.js&#34;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#34;text/javascript&#34;</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">script</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">html</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>Make sure you save the changes, then visit <a href="http://localhost:4000/"><code>http://localhost:4000</code></a>. Your home page should now look like this:</p>

<figure class="img">
<img src="assets/img/02.08-04.png" alt="02.08-04.png" />
</figure>

<hr />

<h3 id="additional-information">Additional information</h3>

<h4 id="features-and-functions">Features and functions</h4>

<p>Go&rsquo;s file server has a few really nice features that are worth mentioning:</p>

<ul>
<li><p>It sanitizes all request paths by running them through the <a href="https://pkg.go.dev/path/#Clean"><code>path.Clean()</code></a> function before searching for a file. This removes any <code>.</code> and <code>..</code> elements from the URL path, which helps to stop directory traversal attacks. This feature is particularly useful if you&rsquo;re using the fileserver in conjunction with a router that doesn&rsquo;t automatically sanitize URL paths.</p></li>

<li><p><a href="https://benramsey.com/blog/2008/05/206-partial-content-and-range-requests">Range requests</a> are fully supported. This is great if your application is serving large files and you want to support resumable downloads. You can see this functionality in action if you use curl to request bytes 100-199 of the <code>logo.png</code> file, like so:</p>

<figure class="code bash">
<pre>$ curl -i -H &#34;Range: bytes=100-199&#34; --output - http://localhost:4000/static/img/logo.png
<samp>HTTP/1.1 206 Partial Content
Accept-Ranges: bytes
Content-Length: 100
Content-Range: bytes 100-199/1075
Content-Type: image/png
Last-Modified: Thu, 04 May 2017 13:07:52 GMT
Date: Sat, 29 Jan 2022 14:33:59 GMT
[binary data]</samp></pre>
</figure>
</li>

<li><p>The <code>Last-Modified</code> and <code>If-Modified-Since</code> headers are transparently supported. If a file hasn’t changed since the user last requested it, then <code>http.FileServer</code> will send a <code>304 Not Modified</code> status code instead of the file itself. This helps reduce latency and processing overhead for both the client and server.</p></li>

<li><p>The <code>Content-Type</code> is automatically set from the file extension using the <a href="https://pkg.go.dev/mime/#TypeByExtension"><code>mime.TypeByExtension()</code></a> function. You can add your own custom extensions and content types using the <a href="https://pkg.go.dev/mime/#AddExtensionType"><code>mime.AddExtensionType()</code></a> function if necessary.</p></li>
</ul>

<h4 id="performance">Performance</h4>

<p>In the code above we&rsquo;ve set up our file server so that it serves files out of the <code>./ui/static</code> directory on your hard disk.</p>

<p>But it&rsquo;s important to note that, once the application is up-and-running, <code>http.FileServer</code> probably won&rsquo;t be reading these files from disk. Both <a href="https://docs.microsoft.com/en-us/windows/desktop/fileio/file-caching">Windows</a> and <a href="https://www.tldp.org/LDP/sag/html/buffer-cache.html">Unix-based</a> operating systems cache recently-used files in RAM, so (for frequently-served files at least) it&rsquo;s likely that <code>http.FileServer</code> will be serving them from RAM rather than making the <a href="https://gist.github.com/jboner/2841832">relatively slow</a> round-trip to your hard disk.</p>

<h4 id="serving-single-files">Serving single files</h4>

<p>Sometimes you might want to serve a single file from within a handler. For this there&rsquo;s the <a href="https://pkg.go.dev/net/http/#ServeFile"><code>http.ServeFile()</code></a> function, which you can use like so:</p>

<figure class="code go">
<pre><span class="kd">func</span> <span class="nf">downloadHandler</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">http</span><span class="p">.</span><span class="nf">ServeFile</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="s">&#34;./ui/static/file.zip&#34;</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<aside class="important"><p>
<strong>Warning:</strong> <code>http.ServeFile()</code> does not automatically sanitize the file path. If you&rsquo;re constructing a file path from untrusted user input, to avoid directory traversal attacks you <em>must</em> sanitize the input with <a href="https://pkg.go.dev/path/filepath/#Clean"><code>filepath.Clean()</code></a> before using it.
</p></aside>

<h4 id="disabling-directory-listings">Disabling directory listings</h4>

<p>If you want to disable directory listings there are a few different approaches you can take.</p>

<p>The simplest way? Add a blank <code>index.html</code> file to the specific directory that you want to disable listings for. This will then be served instead of the directory listing, and the user will get a <code>200 OK</code> response with no body. If you want to do this for all directories under <code>./ui/static</code> you can use the command:</p>

<figure class="code bash">
<pre>$ find ./ui/static -type d -exec touch {}/index.html \;</pre>
</figure>

<p>A more complicated (but arguably better) solution is to create a custom implementation of <a href="https://pkg.go.dev/net/http/#FileSystem"><code>http.FileSystem</code></a>, and have it return an <code>os.ErrNotExist</code> error for any directories. A full explanation and sample code can be found in <a href="https://www.alexedwards.net/blog/disable-http-fileserver-directory-listings">this blog post</a>.</p>

			
		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="02.07-html-templating-and-inheritance.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="02.09-the-http-handler-interface.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
	</body>
</html>
