<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2022">
		<title>Template actions and functions &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="05.00-dynamic-html-templates.html">Dynamic HTML templates</a> &rsaquo; Template actions and functions</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="05.01-displaying-dynamic-data.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="05.03-caching-templates.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 5.2.</div>
			<h2 id="template-actions-and-functions">Template actions and functions</h2>

<p>In this section we&rsquo;re going to look at the template <dfn>actions</dfn> and <dfn>functions</dfn> that Go provides.</p>

<p>We&rsquo;ve already talked about some of the actions &mdash; <code>{{define}}</code>, <code>{{template}}</code> and <code>{{block}}</code> &mdash; but there are three more which you can use to control the display of dynamic data &mdash; <code>{{if}}</code>, <code>{{with}}</code> and <code>{{range}}</code>.</p>

<table>
<thead>
<tr>
<th>Action</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>{{if .Foo}} C1 {{else}} C2 {{end}}</code></td>
<td>If <code>.Foo</code> is not empty then render the content C1, otherwise render the content C2.</td>
</tr>

<tr>
<td><code>{{with .Foo}} C1 {{else}} C2 {{end}}</code></td>
<td>If <code>.Foo</code> is not empty, then set dot to the value of <code>.Foo</code> and render the content C1, otherwise render the content C2.</td>
</tr>

<tr>
<td><code>{{range .Foo}} C1 {{else}} C2 {{end}}</code></td>
<td>If the length of <code>.Foo</code> is greater than zero then loop over each element, setting dot to the value of each element and rendering the content C1. If the length of <code>.Foo</code> is zero then render the content C2. The underlying type of <code>.Foo</code> must be an array, slice, map, or channel.</td>
</tr>
</tbody>
</table>
<p>There are a few things about these actions to point out:</p>

<ul>
<li><p>For all three actions the <code>{{else}}</code> clause is optional. For instance, you can write <code>{{if .Foo}} C1 {{end}}</code> if there&rsquo;s no <code>C2</code> content that you want to render.</p></li>

<li><p>The <em>empty</em> values are false, 0, any nil pointer or interface value, and any array, slice, map, or string of length zero.</p></li>

<li><p>It&rsquo;s important to grasp that the <code>with</code> and <code>range</code> actions change the value of dot. Once you start using them, <em>what dot represents can be different depending on where you are in the template and what you&rsquo;re doing.</em></p></li>
</ul>

<p>The <code>html/template</code> package also provides some template functions which you can use to add extra logic to your templates and control what is rendered at runtime. You can find a complete listing of functions <a href="https://pkg.go.dev/text/template/#hdr-Functions">here</a>, but the most important ones are:</p>

<table>
<thead>
<tr>
<th>Function</th>
<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code>{{eq .Foo .Bar}}</code></td>
<td>Yields true if <code>.Foo</code> is equal to <code>.Bar</code></td>
</tr>

<tr>
<td><code>{{ne .Foo .Bar}}</code></td>
<td>Yields true if <code>.Foo</code> is not equal to <code>.Bar</code></td>
</tr>

<tr>
<td><code>{{not .Foo}}</code></td>
<td>Yields the boolean negation of <code>.Foo</code></td>
</tr>

<tr>
<td><code>{{or .Foo .Bar}}</code></td>
<td>Yields <code>.Foo</code> if <code>.Foo</code> is not empty; otherwise yields <code>.Bar</code></td>
</tr>

<tr>
<td><code>{{index .Foo i}}</code></td>
<td>Yields the value of <code>.Foo</code> at index <code>i</code>. The underlying type of <code>.Foo</code> must be a map, slice or array, and <code>i</code> must be an integer value.</td>
</tr>

<tr>
<td><code>{{printf &quot;%s-%s&quot; .Foo .Bar}}</code></td>
<td>Yields a formatted string containing the <code>.Foo</code> and <code>.Bar</code> values. Works in the same way as fmt.Sprintf().</td>
</tr>

<tr>
<td><code>{{len .Foo}}</code></td>
<td>Yields the length of <code>.Foo</code> as an integer.</td>
</tr>

<tr>
<td><code>{{$bar := len .Foo}}</code></td>
<td>Assign the length of <code>.Foo</code> to the template variable <code>$bar</code></td>
</tr>
</tbody>
</table>
<p>The final row is an example of declaring a <dfn>template variable</dfn>. Template variables are particularly useful if you want to store the result from a function and use it in multiple places in your template. Variable names must be prefixed by a dollar sign and can contain alphanumeric characters only.</p>

<h3 id="using-the-with-action">Using the with action</h3>

<p>A good opportunity to use the <code>{{with}}</code> action is the <code>view.tmpl</code> file that we created in the previous chapter. Go ahead and update it like so:</p>

<figure class="code html">
<figcaption>File: ui/html/pages/view.tmpl</figcaption>
<pre>
{{define &#34;title&#34;}}Snippet #{{.Snippet.ID}}{{end}}

{{define &#34;main&#34;}}
    {{with .Snippet}}
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;snippet&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">strong</span><span class="p"></span><span class="p">&gt;</span>{{.Title}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">strong</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span><span class="p"></span><span class="p">&gt;</span>#{{.ID}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">span</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">pre</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">code</span><span class="p"></span><span class="p">&gt;</span>{{.Content}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">code</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">pre</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Created: {{.Created}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Expires: {{.Expires}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    {{end}}
{{end}}</pre>
</figure>

<p>So now, between <code>{{with .Snippet}}</code> and the corresponding <code>{{end}}</code> tag, the value of dot is set to <code>.Snippet</code>. Dot essentially becomes the <code>models.Snippet</code> struct instead of the parent <code>templateData</code> struct.</p>

<h3 id="using-the-if-and-range-actions">Using the if and range actions</h3>

<p>Let&rsquo;s also use the <code>{{if}}</code> and <code>{{range}}</code> actions in a concrete example and update our homepage to display a table of the latest snippets, a bit like this:</p>

<p><img class="sketch" src="assets/img/05.02-01.png" alt="05.02-01.png"></img></p>

<p>First update the <code>templateData</code> struct so that it contains a <code>Snippets</code> field for holding a slice of snippets, like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/templates.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="s">&#34;snippetbox.alexedwards.net/internal/models&#34;</span>

<span class="c1">// Include a Snippets field in the templateData struct.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">templateData</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Snippet</span>  <span class="o">*</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Snippets</span> <span class="p">[</span><span class="p">]</span><span class="o">*</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
<span class="p">}</span></pre>
</figure>

<p>Then update the <code>home</code> handler function so that it fetches the latest snippets from our database model and passes them to the <code>home.tmpl</code> template:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">home</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="nx">r</span><span class="p">.</span><span class="nx">URL</span><span class="p">.</span><span class="nx">Path</span> <span class="o">!=</span> <span class="s">&#34;/&#34;</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">notFound</span><span class="p">(</span><span class="nx">w</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">snippets</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Latest</span><span class="p">(</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">files</span> <span class="o">:=</span> <span class="p">[</span><span class="p">]</span><span class="kt">string</span><span class="p">{</span>
        <span class="s">&#34;./ui/html/base.tmpl&#34;</span><span class="p">,</span>
        <span class="s">&#34;./ui/html/partials/nav.tmpl&#34;</span><span class="p">,</span>
        <span class="s">&#34;./ui/html/pages/home.tmpl&#34;</span><span class="p">,</span>
    <span class="p">}</span>

    <span class="nx">ts</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">template</span><span class="p">.</span><span class="nf">ParseFiles</span><span class="p">(</span><span class="nx">files</span><span class="o">...</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Create an instance of a templateData struct holding the slice of
</span><span class="c1"></span>    <span class="c1">// snippets.
</span><span class="c1"></span>    <span class="nx">data</span> <span class="o">:=</span> <span class="o">&amp;</span><span class="nx">templateData</span><span class="p">{</span>
        <span class="nx">Snippets</span><span class="p">:</span> <span class="nx">snippets</span><span class="p">,</span>
    <span class="p">}</span>

    <span class="c1">// Pass in the templateData struct when executing the template.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">ts</span><span class="p">.</span><span class="nf">ExecuteTemplate</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&#34;base&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Now let&rsquo;s head over to the <code>ui/html/pages/home.tmpl</code> file and update it to display these snippets in a table using the <code>{{if}}</code> and <code>{{range}}</code> actions. Specifically:</p>

<ul>
<li><p>We want to use the <code>{{if}}</code> action to check whether the slice of snippets is empty or not. If it&rsquo;s empty, we want to display a <code>&quot;There's nothing to see here yet!</code> message. Otherwise, we want to render a table containing the snippet information.</p></li>

<li><p>We want to use the <code>{{range}}</code> action to iterate over all snippets in the slice, rendering the contents of each snippet in a table row.</p></li>
</ul>

<p>Here&rsquo;s the markup:</p>

<figure class="code html">
<figcaption>File: ui/html/pages/home.tmpl</figcaption>
<pre>
{{define &#34;title&#34;}}Home{{end}}

{{define &#34;main&#34;}}
    <span class="p">&lt;</span><span class="nt">h2</span><span class="p"></span><span class="p">&gt;</span>Latest Snippets<span class="p">&lt;</span><span class="p">/</span><span class="nt">h2</span><span class="p">&gt;</span>
    {{if .Snippets}}
     <span class="p">&lt;</span><span class="nt">table</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p"></span><span class="p">&gt;</span>Title<span class="p">&lt;</span><span class="p">/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p"></span><span class="p">&gt;</span>Created<span class="p">&lt;</span><span class="p">/</span><span class="nt">th</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">th</span><span class="p"></span><span class="p">&gt;</span>ID<span class="p">&lt;</span><span class="p">/</span><span class="nt">th</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">tr</span><span class="p">&gt;</span>
        {{range .Snippets}}
        <span class="p">&lt;</span><span class="nt">tr</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/snippet/view?id={{.ID}}&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.Title}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p"></span><span class="p">&gt;</span>{{.Created}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">td</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">td</span><span class="p"></span><span class="p">&gt;</span>#{{.ID}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">td</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">tr</span><span class="p">&gt;</span>
        {{end}}
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">table</span><span class="p">&gt;</span>
    {{else}}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p"></span><span class="p">&gt;</span>There&#39;s nothing to see here... yet!<span class="p">&lt;</span><span class="p">/</span><span class="nt">p</span><span class="p">&gt;</span>
    {{end}}
{{end}}</pre>
</figure>

<p>Make sure all your files are saved, restart the application and visit <a href="http://localhost:4000/"><code>http://localhost:4000</code></a> in a web browser. If everything has gone to plan, you should see a page which looks a bit like this:</p>

<figure class="img">
<img src="assets/img/05.02-02.png" alt="05.02-02.png" />
</figure>

<hr />

<h3 id="additional-information">Additional information</h3>

<h4 id="combining-functions">Combining functions</h4>

<p>It&rsquo;s possible to combine multiple functions in your template tags, using the parentheses <code>()</code> to surround the functions and their arguments as necessary.</p>

<p>For example, the following tag will render the content <code>C1</code> if the length of <code>Foo</code> is greater than 99:</p>

<figure class="code plain">
<pre>{{if (gt (len .Foo) 99)}} C1 {{end}}</pre>
</figure>

<p>Or as another example, the following tag will render the content <code>C1</code> if <code>.Foo</code> equals 1 <em>and</em> <code>.Bar</code> is less than or equal to 20:</p>

<figure class="code plain">
<pre>{{if (and (eq .Foo 1) (le .Bar 20))}} C1 {{end}}</pre>
</figure>

<h4 id="controlling-loop-behavior">Controlling loop behavior</h4>

<p>Within a <code>{{range}}</code> action you can use the <code>{{break}}</code> command to end the loop early, and <code>{{continue}}</code> to immediately start the next loop iteration.</p>

<figure class="code go">
<pre><span class="p">{</span><span class="p">{</span><span class="k">range</span> <span class="p">.</span><span class="nx">Foo</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// Skip this iteration if the .ID value equals 99.
</span><span class="c1"></span>    <span class="p">{</span><span class="p">{</span><span class="k">if</span> <span class="nx">eq</span> <span class="p">.</span><span class="nx">ID</span> <span class="mi">99</span><span class="p">}</span><span class="p">}</span>
        <span class="p">{</span><span class="p">{</span><span class="k">continue</span><span class="p">}</span><span class="p">}</span>
    <span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// ...
</span><span class="c1"></span><span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span></pre>
</figure>

<figure class="code go">
<pre><span class="p">{</span><span class="p">{</span><span class="k">range</span> <span class="p">.</span><span class="nx">Foo</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// End the loop if the .ID value equals 99.
</span><span class="c1"></span>    <span class="p">{</span><span class="p">{</span><span class="k">if</span> <span class="nx">eq</span> <span class="p">.</span><span class="nx">ID</span> <span class="mi">99</span><span class="p">}</span><span class="p">}</span>
        <span class="p">{</span><span class="p">{</span><span class="k">break</span><span class="p">}</span><span class="p">}</span>
    <span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span>
    <span class="c1">// ...
</span><span class="c1"></span><span class="p">{</span><span class="p">{</span><span class="nx">end</span><span class="p">}</span><span class="p">}</span></pre>
</figure>

			
		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="05.01-displaying-dynamic-data.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="05.03-caching-templates.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
	</body>
</html>
