<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2022">
		<title>Working with session data &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="09.00-stateful-http.html">Stateful HTTP</a> &rsaquo; Working with session data</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="09.02-setting-up-the-session-manager.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="10.00-security-improvements.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 9.3.</div>
			<h2 id="working-with-session-data">Working with session data</h2>

<p>In this chapter let&rsquo;s put the session functionality to work and use it to persist the confirmation flash message between HTTP requests that we <a href="09.00-stateful-http.html">discussed earlier</a>.</p>

<p>We&rsquo;ll begin in our <code>cmd/web/handlers.go</code> file and update our <code>snippetCreatePost</code> so that a flash message is added to the user&rsquo;s session data if &mdash; and only if &mdash; the snippet was created successfully. Like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetCreatePost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">snippetCreateForm</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;title&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MaxChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">,</span> <span class="mi">100</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;title&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be more than 100 characters long&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Content</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;content&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">PermittedInt</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span><span class="p">,</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">7</span><span class="p">,</span> <span class="mi">365</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;expires&#34;</span><span class="p">,</span> <span class="s">&#34;This field must equal 1, 7 or 365&#34;</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;create.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Insert</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Title</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Content</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Expires</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Use the Put() method to add a string value (&#34;Snippet successfully 
</span><span class="c1"></span>    <span class="c1">// created!&#34;) and the corresponding key (&#34;flash&#34;) to the session data.
</span><span class="c1"></span>    <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">Put</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">,</span> <span class="s">&#34;Snippet successfully created!&#34;</span><span class="p">)</span>

    <span class="nx">http</span><span class="p">.</span><span class="nf">Redirect</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">fmt</span><span class="p">.</span><span class="nf">Sprintf</span><span class="p">(</span><span class="s">&#34;/snippet/view/%d&#34;</span><span class="p">,</span> <span class="nx">id</span><span class="p">)</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusSeeOther</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>That&rsquo;s nice and simple, but there are a couple of things to point out:</p>

<ul>
<li><p>The first parameter that we pass to <a href="https://pkg.go.dev/github.com/alexedwards/scs/v2#SessionManager.Put"><code>app.sessionManager.Put()</code></a> is the <em>current request context</em>. We&rsquo;ll talk properly about what the request context is and how to use it later in the book, but for now you can just think of it as somewhere that the session manager temporarily stores information while your handlers are dealing with the request.</p></li>

<li><p>The second parameter (in our case the string <code>&quot;flash&quot;</code>) is the <em>key</em> for the specific message that we are adding to the session data. We&rsquo;ll subsequently retrieve the message from the session data using this key too.</p></li>

<li><p>If there&rsquo;s no existing session for the current user (or their session has expired) then a new, empty, session for them will automatically be created by the session middleware.</p></li>
</ul>

<p>Next up we want our <code>snippetView</code> handler to retrieve the flash message (if one exists in the session for the current user) and pass it to the HTML template for subsequent display.</p>

<p>Because we want to display the flash message once only, we actually want to retrieve <em>and remove</em> the message from the session data. We can do both these operations at the same time by using the <a href="https://pkg.go.dev/github.com/alexedwards/scs/v2#SessionManager.PopString"><code>PopString()</code></a> method.</p>

<p>I&rsquo;ll demonstrate:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetView</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">params</span> <span class="o">:=</span> <span class="nx">httprouter</span><span class="p">.</span><span class="nf">ParamsFromContext</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">)</span>

    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">strconv</span><span class="p">.</span><span class="nf">Atoi</span><span class="p">(</span><span class="nx">params</span><span class="p">.</span><span class="nf">ByName</span><span class="p">(</span><span class="s">&#34;id&#34;</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="o">||</span> <span class="nx">id</span> <span class="p">&lt;</span> <span class="mi">1</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">notFound</span><span class="p">(</span><span class="nx">w</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">snippet</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="nx">id</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrNoRecord</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">notFound</span><span class="p">(</span><span class="nx">w</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Use the PopString() method to retrieve the value for the &#34;flash&#34; key.
</span><span class="c1"></span>    <span class="c1">// PopString() also deletes the key and value from the session data, so it
</span><span class="c1"></span>    <span class="c1">// acts like a one-time fetch. If there is no matching key in the session
</span><span class="c1"></span>    <span class="c1">// data this will return the empty string.
</span><span class="c1"></span>    <span class="nx">flash</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">PopString</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">)</span>

    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Snippet</span> <span class="p">=</span> <span class="nx">snippet</span>

    <span class="c1">// Pass the flash message to the template.
</span><span class="c1"></span>    <span class="nx">data</span><span class="p">.</span><span class="nx">Flash</span> <span class="p">=</span> <span class="nx">flash</span> 

    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;view.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<aside class="hint"><p>
<strong>Info:</strong> If you want to retrieve a value from the session data only (and leave it in there) you can use the <code>GetString()</code> method instead. The <code>scs</code> package also provides methods for retrieving other common data types, including <code>GetInt()</code>, <code>GetBool()</code>,  <code>GetBytes()</code> and <code>GetTime()</code>.
</p></aside>

<p>If you try to run the application now, the compiler will (rightly) grumble that the <code>Flash</code> field isn&rsquo;t defined in our <code>templateData</code> struct. Go ahead and add it in like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/templates.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;html/template&#34;</span>
    <span class="s">&#34;path/filepath&#34;</span>
    <span class="s">&#34;time&#34;</span>

    <span class="s">&#34;snippetbox.alexedwards.net/internal/models&#34;</span>
<span class="p">)</span>

<span class="kd">type</span> <span class="nx">templateData</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">CurrentYear</span> <span class="kt">int</span>
    <span class="nx">Snippet</span>     <span class="o">*</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Snippets</span>    <span class="p">[</span><span class="p">]</span><span class="o">*</span><span class="nx">models</span><span class="p">.</span><span class="nx">Snippet</span>
    <span class="nx">Form</span>        <span class="nx">any</span>
    <span class="nx">Flash</span>       <span class="kt">string</span> <span class="c1">// Add a Flash field to the templateData struct.
</span><span class="c1"></span><span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>And now, we can update our <code>base.tmpl</code> file to display the flash message, if one exists.</p>

<figure class="code html">
<figcaption>File: ui/html/base.tmpl</figcaption>
<pre>{{define &#34;base&#34;}}
<span class="cp">&lt;!doctype html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&#39;en&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">head</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&#39;utf-8&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">title</span><span class="p"></span><span class="p">&gt;</span>{{template &#34;title&#34; .}} - Snippetbox<span class="p">&lt;</span><span class="p">/</span><span class="nt">title</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/static/css/main.css&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;shortcut icon&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/static/img/favicon.ico&#39;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;image/x-icon&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">body</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">header</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">h1</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;/&#39;</span><span class="p"></span><span class="p">&gt;</span>Snippetbox<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">h1</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">header</span><span class="p">&gt;</span>
        {{template &#34;nav&#34; .}}
        <span class="p">&lt;</span><span class="nt">main</span><span class="p"></span><span class="p">&gt;</span>
            <span class="c">&lt;!--</span><span class="c"> Display the flash message if one exists </span><span class="c">--&gt;</span>
            {{with .Flash}}
                <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;flash&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
            {{end}}
            {{template &#34;main&#34; .}}
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">main</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">footer</span><span class="p"></span><span class="p">&gt;</span>
            Powered by <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;https://golang.org/&#39;</span><span class="p"></span><span class="p">&gt;</span>Go<span class="p">&lt;</span><span class="p">/</span><span class="nt">a</span><span class="p">&gt;</span> in {{.CurrentYear}}
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">footer</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;/static/js/main.js&#34;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#34;text/javascript&#34;</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">script</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">html</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>Remember, the <code>{{with .Flash}}</code> block will only be executed if the value of <code>.Flash</code> is <a href="05.02-template-actions-and-functions.html">not the empty string</a>. So, if there&rsquo;s no <code>&quot;flash&quot;</code> key in the current user&rsquo;s session, the result is that the chunk of new markup simply won&rsquo;t be displayed.</p>

<p>Once that&rsquo;s done, save all your files and restart the application. Try adding a new snippet like so&hellip;</p>

<figure class="img">
<img src="assets/img/09.03-01.png" alt="09.03-01.png" />
</figure>

<p>And after redirection you should see the flash message now being displayed:</p>

<figure class="img">
<img src="assets/img/09.03-02.png" alt="09.03-02.png" />
</figure>

<p>If you try refreshing the page, you can confirm that the flash message is no longer shown &mdash; it was a one-off message for the current user immediately after they created the snippet.</p>

<figure class="img">
<img src="assets/img/09.03-03.png" alt="09.03-03.png" />
</figure>

<h3 id="auto-displaying-flash-messages">Auto-displaying flash messages</h3>

<p>A little improvement we can make (which will save us some work later in the project) is to automate the display of flash messages, so that any message is automatically included the next time <em>any page is rendered</em>.</p>

<p>We can do this by adding any flash message to the template data via the <code>newTemplateData()</code> helper method that we made earlier, like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/helpers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="o">*</span><span class="nx">templateData</span> <span class="p">{</span>
    <span class="k">return</span> <span class="o">&amp;</span><span class="nx">templateData</span><span class="p">{</span>
        <span class="nx">CurrentYear</span><span class="p">:</span> <span class="nx">time</span><span class="p">.</span><span class="nf">Now</span><span class="p">(</span><span class="p">)</span><span class="p">.</span><span class="nf">Year</span><span class="p">(</span><span class="p">)</span><span class="p">,</span>
        <span class="c1">// Add the flash message to the template data, if one exists.
</span><span class="c1"></span>        <span class="nx">Flash</span><span class="p">:</span>       <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">PopString</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">)</span><span class="p">,</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Making that change means that we no longer need to check for the flash message within the <code>snippetView</code> handler, and the code can be reverted to look like this:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">snippetView</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">params</span> <span class="o">:=</span> <span class="nx">httprouter</span><span class="p">.</span><span class="nf">ParamsFromContext</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">)</span>

    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">strconv</span><span class="p">.</span><span class="nf">Atoi</span><span class="p">(</span><span class="nx">params</span><span class="p">.</span><span class="nf">ByName</span><span class="p">(</span><span class="s">&#34;id&#34;</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="o">||</span> <span class="nx">id</span> <span class="p">&lt;</span> <span class="mi">1</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">notFound</span><span class="p">(</span><span class="nx">w</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">snippet</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">snippets</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="nx">id</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrNoRecord</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">notFound</span><span class="p">(</span><span class="nx">w</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Snippet</span> <span class="p">=</span> <span class="nx">snippet</span>

    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;view.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Feel free to try running the application again and creating another snippet. You should find that the flash message functionality still works as expected.</p>

<hr />

<h3 id="additional-information">Additional information</h3>

<h4 id="behind-the-scenes-of-session-management">Behind-the-scenes of session management</h4>

<p>I&rsquo;d like to take a moment to unpack some of the &lsquo;magic&rsquo; behind session management and explain how it works behind-the-scenes.</p>

<p>If you like, open up the developer tools in your web browser and take a look at the cookie data for one of the pages. You should see a cookie named <code>session</code> in the request data, similar to this:</p>

<figure class="img">
<img src="assets/img/09.03-04.png" alt="09.03-04.png" />
</figure>

<p>This is the <em>session cookie</em>, and it will be sent back to the Snippetbox application with every request that your browser makes.</p>

<p>The session cookie contains the <em>session token</em> &mdash; also sometimes known as the <em>session ID</em>. The session token is a high-entropy random string, which in my case is the value <code>y9y1-mXyQUoAM6V5s9lXNjbZ_vXSGkO7jy-KL-di7A4</code> (yours will be different).</p>

<p>It&rsquo;s important to emphasize that the session token is just a random string. In itself, it doesn&rsquo;t carry or convey any <em>session data</em> (like the flash message that we set in this chapter).</p>

<p>Next, you might like to open up a terminal to MySQL and run a <code>SELECT</code> query against the <code>sessions</code> table to lookup the session token that you see in your browser. Like so:</p>

<figure class="code bash">
<pre>mysql&gt; SELECT * FROM sessions WHERE token = &#39;y9y1-mXyQUoAM6V5s9lXNjbZ_vXSGkO7jy-KL-di7A4&#39;;
<samp>+---------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------+
| token                                       | data                                                                                                                                                                                                                                             | expiry                     |
+---------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------+
| y9y1-mXyQUoAM6V5s9lXNjbZ_vXSGkO7jy-KL-di7A4 | 0x26FF81030102FF820001020108446561646C696E6501FF8400010656616C75657301FF8600000010FF830501010454696D6501FF8400000027FF85040101176D61705B737472696E675D696E74657266616365207B7D01FF8600010C0110000016FF82010F010000000ED9F4496109B650EBFFFF010000 | 2022-04-22 06:59:45.162943 |
+---------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------+
1 row in set (0.00 sec)</samp></pre>
</figure>

<p>This should return one record. The <code>data</code> value here is the thing that <em>actually contains our session data</em>. Specifically, what we&rsquo;re looking at is a MySQL <code>BLOB</code> (binary large object) containing a <a href="https://pkg.go.dev/encoding/gob">gob-encoded</a> representation of the session data.</p>

<p>Each and every time we make a change to our session data, this <code>data</code> value will be updated to reflect the changes.</p>

<p>Lastly, the final column in the database is the <code>expiry</code> time, after which the session will no longer be considered valid.</p>

<p>So, what happens in our application is that the <code>LoadAndSave()</code> middleware checks each incoming request for a session cookie. If a session cookie is present, it reads the session token and retrieves the corresponding session data from the database (while also checking that the session hasn&rsquo;t expired). It then adds the session data to the <em>request context</em> so it can be used in your handlers.</p>

<p>Any changes that you make to the session data in your handlers are updated in the request context, and then the <code>LoadAndSave()</code> middleware updates the database with any changes to the session data before it returns.</p>

			
		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="09.02-setting-up-the-session-manager.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="10.00-security-improvements.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
	</body>
</html>
