<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2022">
		<title>User signup and password encryption &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="11.00-user-authentication-and-authorization.html">User authentication</a> &rsaquo; User signup and password encryption</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="11.02-creating-a-users-model.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="11.04-user-login.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 11.3.</div>
			<h2 id="user-signup-and-password-encryption">User signup and password encryption</h2>

<p>Before we can log in any users to our Snippetbox application we first need a way for them to sign up for an account. We&rsquo;ll cover how to do that in this chapter.</p>

<p>Go ahead and create a new <code>ui/html/pages/signup.tmpl</code> file containing the following markup.</p>

<figure class="code bash">
<pre>$ cd $HOME/code/snippetbox
$ touch ui/html/pages/signup.tmpl</pre>
</figure>

<figure class="code html">
<figcaption>File: ui/html/pages/signup.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Signup{{end}}

{{define &#34;main&#34;}}
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&#39;/user/signup&#39;</span> <span class="na">method</span><span class="o">=</span><span class="s">&#39;POST&#39;</span> <span class="na">novalidate</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Name:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.name}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;text&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;name&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Name}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Email:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.email}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Email}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Password:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.password}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;password&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;password&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;submit&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;Signup&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">form</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>Hopefully this should feel familiar so far. For the signup form we&rsquo;re using exactly the <a href="08.04-displaying-errors-and-repopulating-fields.html">same form structure</a> that we used earlier in the book, with three fields: <code>name</code>, <code>email</code> and <code>password</code> (which use the relevant HTML5 input types).</p>

<aside class="important"><p>
<strong>Important:</strong> Notice that we&rsquo;re not re-displaying the password if the form fails validation? This is because we don&rsquo;t want there to be <a href="https://ux.stackexchange.com/questions/20418/when-form-submission-fails-password-field-gets-blanked-why-is-that-the-case">any risk</a> of the browser (or other intermediary) caching the plain-text password entered by the user.
</p></aside>

<p>Then let&rsquo;s update our <code>cmd/web/handlers.go</code> file to include a new <code>userSignupForm</code> struct (which will represent and hold the form data), and hook it up to the <code>userSignup</code> handler.</p>

<p>Like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Create a new userSignupForm struct.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">userSignupForm</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Name</span>                <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;name&#34;</span><span class="s">`</span>
    <span class="nx">Email</span>               <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;email&#34;</span><span class="s">`</span>
    <span class="nx">Password</span>            <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;password&#34;</span><span class="s">`</span>
    <span class="nx">validator</span><span class="p">.</span><span class="nx">Validator</span> <span class="s">`</span><span class="s">form:&#34;-&#34;</span><span class="s">`</span>
<span class="p">}</span>

<span class="c1">// Update the handler so it displays the signup page.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignup</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">userSignupForm</span><span class="p">{</span><span class="p">}</span>
    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>If you run the application and visit <a href="https://localhost:4000/user/signup"><code>https://localhost:4000/user/signup</code></a> you should now see a page which looks like this:</p>

<figure class="img">
<img src="assets/img/11.03-01.png" alt="11.03-01.png" />
</figure>

<h3 id="validating-the-user-input">Validating the user input</h3>

<p>When this form is submitted the data will end up being posted to the <code>userSignupPost</code> handler that we made earlier.</p>

<p>The first task of this handler will be to validate the data to make sure that it is sane and sensible before we insert it into the database. Specifically, we want to do four things:</p>

<ol>
<li>Check that the provided name, email address and password are not blank.</li>
<li>Sanity check the format of the email address.</li>
<li>Ensure that the password is at least 8 <em>characters</em> long.</li>
<li>Make sure that the email address isn&rsquo;t already in use.</li>
</ol>

<p>We can cover the first three checks by heading back to our <code>internal/validator/validator.go</code> file and creating two helper new methods &mdash; <code>MinChars()</code> and <code>Matches()</code> &mdash; along with a regular expression for sanity checking an email address.</p>

<p>Like this:</p>

<figure class="code go">
<figcaption>File: internal/validator/validator.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">validator</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;regexp&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;strings&#34;</span>
    <span class="s">&#34;unicode/utf8&#34;</span>
<span class="p">)</span>

<span class="c1">// Use the regexp.MustCompile() function to parse a regular expression pattern
</span><span class="c1"></span><span class="c1">// for sanity checking the format of an email address. This returns a pointer to 
</span><span class="c1"></span><span class="c1">// a &#39;compiled&#39; regexp.Regexp type, or panics in the event of an error. Parsing 
</span><span class="c1"></span><span class="c1">// this pattern once at startup and storing the compiled *regexp.Regexp in a 
</span><span class="c1"></span><span class="c1">// variable is more performant than re-parsing the pattern each time we need it.
</span><span class="c1"></span><span class="kd">var</span> <span class="nx">EmailRX</span> <span class="p">=</span> <span class="nx">regexp</span><span class="p">.</span><span class="nf">MustCompile</span><span class="p">(</span><span class="s">&#34;^[a-zA-Z0-9.!#$%&amp;&#39;*+\\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$&#34;</span><span class="p">)</span>

<span class="o">...</span>

<span class="c1">// MinChars() returns true if a value contains at least n characters.
</span><span class="c1"></span><span class="kd">func</span> <span class="nf">MinChars</span><span class="p">(</span><span class="nx">value</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">n</span> <span class="kt">int</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">utf8</span><span class="p">.</span><span class="nf">RuneCountInString</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="nx">n</span>
<span class="p">}</span>

<span class="c1">// Matches() returns true if a value matches a provided compiled regular 
</span><span class="c1"></span><span class="c1">// expression pattern.
</span><span class="c1"></span><span class="kd">func</span> <span class="nf">Matches</span><span class="p">(</span><span class="nx">value</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">rx</span> <span class="o">*</span><span class="nx">regexp</span><span class="p">.</span><span class="nx">Regexp</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">rx</span><span class="p">.</span><span class="nf">MatchString</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>There are a couple of things about the <code>EmailRX</code> regular expression pattern I want to quickly mention:</p>

<ul>
<li><p>The pattern we&rsquo;re using is the one currently recommended by the W3C and Web Hypertext Application Technology Working Group. If you&rsquo;re reading this book in PDF format or on a narrow device, and can&rsquo;t see the entire line, then you can find the complete pattern <a href="https://html.spec.whatwg.org/multipage/forms.html#valid-e-mail-address">here</a> and <a href="https://www.w3.org/TR/2016/REC-html51-20161101/sec-forms.html#email-state-typeemail">here</a>. But if there&rsquo;s an alternative pattern that you prefer to use for email address sanity checking, then feel free to swap it in instead.</p></li>

<li><p>Because the <code>EmailRX</code> regexp pattern is written as an interpreted string literal we need to <em>double-escape</em> <a href="https://www.regular-expressions.info/characters.html">special characters</a> in the regexp with <code>\\</code> for it to work correctly (we can&rsquo;t use a raw string literal because the pattern contains a back quote character). If you&rsquo;re not familiar with the difference between string literal forms, then <a href="https://golang.org/ref/spec#String_literals">this section</a> of the Go spec is worth a read.</p></li>
</ul>

<p>But anyway, I&rsquo;m digressing. Let&rsquo;s get back to the task at hand.</p>

<p>Head over to your <code>handlers.go</code> file and add some code to process the form and run the validation checks like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignupPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Declare an zero-valued instance of our userSignupForm struct.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userSignupForm</span>

    <span class="c1">// Parse the form data into the userSignupForm struct.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Validate the form contents using our helper functions.
</span><span class="c1"></span>    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;name&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MinChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">,</span> <span class="mi">8</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be at least 8 characters long&#34;</span><span class="p">)</span>

    <span class="c1">// If there are any errors, redisplay the signup form along with a 422
</span><span class="c1"></span>    <span class="c1">// status code.
</span><span class="c1"></span>    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise send the placeholder response (for now!).
</span><span class="c1"></span>    <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintln</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&#34;Create a new user...&#34;</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Try running the application now and putting some invalid data into the signup form, like this:</p>

<figure class="img">
<img src="assets/img/11.03-02.png" alt="11.03-02.png" />
</figure>

<p>And if you try to submit it, you should see the appropriate validation failures returned like so:</p>

<figure class="img">
<img src="assets/img/11.03-03.png" alt="11.03-03.png" />
</figure>

<p>All that remains now is the fourth validation check: <em>make sure that the email address isn&rsquo;t already in use</em>. This is a bit trickier to deal with.</p>

<p>Because we&rsquo;ve got a <code>UNIQUE</code> constraint on the <code>email</code> field of our <code>users</code> table, it&rsquo;s already guaranteed that we won&rsquo;t end up with two users in our database who have the same email address. So from a business logic and data integrity point of view we are already OK. But the question remains about how we communicate any <em>email already in use</em> problem to a user. We&rsquo;ll tackle this at the end of the chapter.</p>

<h3 id="a-brief-introduction-to-bcrypt">A brief introduction to bcrypt</h3>

<p>If your database is ever compromised by an attacker, it&rsquo;s hugely important that it doesn&rsquo;t contain the plain-text versions of your users&rsquo; passwords.</p>

<p>It&rsquo;s good practice &mdash; well, essential, really &mdash; to store a one-way hash of the password, derived with a computationally expensive key-derivation function such as Argon2, scrypt or bcrypt. Go has implementations of all 3 algorithms in the <a href="https://pkg.go.dev/golang.org/x/crypto"><code>golang.org/x/crypto</code></a> package.</p>

<p>However a plus-point of the bcrypt implementation specifically is that it includes helper functions specifically designed for hashing and checking passwords, and that&rsquo;s what we&rsquo;ll use here.</p>

<p>If you&rsquo;re following along, please go ahead and download the latest version of the <a href="https://godoc.org/golang.org/x/crypto/bcrypt"><code>golang.org/x/crypto/bcrypt</code></a> package:</p>

<figure class="code bash">
<pre>$ go get golang.org/x/crypto/bcrypt@latest
<samp>go: downloading golang.org/x/crypto v0.0.0-20220722155217-630584e8d5aa
go get: added golang.org/x/crypto v0.0.0-20220722155217-630584e8d5aa</samp></pre>
</figure>

<p>There are two functions that we&rsquo;ll use in this book. The first is the <a href="https://godoc.org/golang.org/x/crypto/bcrypt#GenerateFromPassword"><code>bcrypt.GenerateFromPassword()</code></a> function which lets us create a hash of a given plain-text password like so:</p>

<figure class="code go">
<pre><span class="nx">hash</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">GenerateFromPassword</span><span class="p">(</span><span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;my plain text password&#34;</span><span class="p">)</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span></pre>
</figure>

<p>This function will return a 60-character long hash which looks a bit like this:</p>

<figure class="code plain">
<pre>$2a$12$NuTjWXm3KKntReFwyBVHyuf/to.HEwTy.eS206TNfkGfr6HzGJSWG</pre>
</figure>

<p>I&rsquo;d like to explain that second parameter we pass to <code>bcrypt.GenerateFromPassword()</code> indicates the <dfn>cost</dfn>, which is represented by an integer between 4 and 31. The example above uses a cost of 12, which means that that 4096 (2^12) bcrypt iterations will be used to generate the password hash.</p>

<p>The higher the cost, the more expensive the hash will be for an attacker to crack (which is a good thing). But a higher cost also means that our application needs to do more work to create the password hash when a user signs up &mdash; and that means increased resource use by your application and additional latency for the end user. So choosing an appropriate cost value is a balancing act. A cost of 12 is a reasonable minimum, but if possible you should carry out load testing, and if you can set the cost higher without adversely affecting user experience then you should.</p>

<p>On the flip side, we can check that a plain-text password matches a particular hash using the <a href="https://godoc.org/golang.org/x/crypto/bcrypt#CompareHashAndPassword"><code>bcrypt.CompareHashAndPassword()</code></a> function like so:</p>

<figure class="code go">
<pre><span class="nx">hash</span> <span class="o">:=</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;$2a$12$NuTjWXm3KKntReFwyBVHyuf/to.HEwTy.eS206TNfkGfr6GzGJSWG&#34;</span><span class="p">)</span>
<span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">CompareHashAndPassword</span><span class="p">(</span><span class="nx">hash</span><span class="p">,</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;my plain text password&#34;</span><span class="p">)</span><span class="p">)</span></pre>
</figure>

<p>The <code>bcrypt.CompareHashAndPassword()</code> function will return <code>nil</code> if the plain-text password matches a particular hash, or an error if they don&rsquo;t match.</p>

<h3 id="storing-the-user-details">Storing the user details</h3>

<p>The next stage of our build is to update the <code>UserModel.Insert()</code> method so that it creates a new record in our <code>users</code> table containing the validated name, email and hashed password.</p>

<p>This will be interesting for two reasons: first we want to store the bcrypt hash of the password (not the password itself) and second, we also need to manage the potential error caused by a duplicate email violating the <code>UNIQUE</code> constraint that we added to the table.</p>

<p>All errors returned by MySQL have a particular code, which we can use to triage what has caused the error (a full list of the MySQL error codes and descriptions can be <a href="https://dev.mysql.com/doc/mysql-errors/8.0/en/">found here</a>). In the case of a duplicate email, the error code used will be <code>1062 (ER_DUP_ENTRY)</code>.</p>

<p>Open the <code>internal/models/users.go</code> file and update it to include the following code:</p>

<figure class="code go">
<figcaption>File: internal/models/users.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">models</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;database/sql&#34;</span>
    <span class="s">&#34;errors&#34;</span>  <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;strings&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;time&#34;</span>

    <span class="s">&#34;github.com/go-sql-driver/mysql&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;golang.org/x/crypto/bcrypt&#34;</span>     <span class="c1">// New import
</span><span class="c1"></span><span class="p">)</span>

<span class="o">...</span>

<span class="kd">type</span> <span class="nx">UserModel</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">DB</span> <span class="o">*</span><span class="nx">sql</span><span class="p">.</span><span class="nx">DB</span>
<span class="p">}</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">m</span> <span class="o">*</span><span class="nx">UserModel</span><span class="p">)</span> <span class="nf">Insert</span><span class="p">(</span><span class="nx">name</span><span class="p">,</span> <span class="nx">email</span><span class="p">,</span> <span class="nx">password</span> <span class="kt">string</span><span class="p">)</span> <span class="kt">error</span> <span class="p">{</span>
    <span class="c1">// Create a bcrypt hash of the plain-text password.
</span><span class="c1"></span>    <span class="nx">hashedPassword</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">GenerateFromPassword</span><span class="p">(</span><span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="nx">password</span><span class="p">)</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nx">err</span>
    <span class="p">}</span>

    <span class="nx">stmt</span> <span class="o">:=</span> <span class="s">`</span><span class="s">INSERT INTO users (name, email, hashed_password, created)
</span><span class="s">    VALUES(?, ?, ?, UTC_TIMESTAMP())</span><span class="s">`</span>

    <span class="c1">// Use the Exec() method to insert the user details and hashed password
</span><span class="c1"></span>    <span class="c1">// into the users table.
</span><span class="c1"></span>    <span class="nx">_</span><span class="p">,</span> <span class="nx">err</span> <span class="p">=</span> <span class="nx">m</span><span class="p">.</span><span class="nx">DB</span><span class="p">.</span><span class="nf">Exec</span><span class="p">(</span><span class="nx">stmt</span><span class="p">,</span> <span class="nx">name</span><span class="p">,</span> <span class="nx">email</span><span class="p">,</span> <span class="nb">string</span><span class="p">(</span><span class="nx">hashedPassword</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="c1">// If this returns an error, we use the errors.As() function to check
</span><span class="c1"></span>        <span class="c1">// whether the error has the type *mysql.MySQLError. If it does, the
</span><span class="c1"></span>        <span class="c1">// error will be assigned to the mySQLError variable. We can then check
</span><span class="c1"></span>        <span class="c1">// whether or not the error relates to our users_uc_email key by
</span><span class="c1"></span>        <span class="c1">// checking if the error code equals 1062 and the contents of the error 
</span><span class="c1"></span>        <span class="c1">// message string. If it does, we return an ErrDuplicateEmail error.
</span><span class="c1"></span>        <span class="kd">var</span> <span class="nx">mySQLError</span> <span class="o">*</span><span class="nx">mysql</span><span class="p">.</span><span class="nx">MySQLError</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">As</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">mySQLError</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="nx">mySQLError</span><span class="p">.</span><span class="nx">Number</span> <span class="o">==</span> <span class="mi">1062</span> <span class="o">&amp;&amp;</span> <span class="nx">strings</span><span class="p">.</span><span class="nf">Contains</span><span class="p">(</span><span class="nx">mySQLError</span><span class="p">.</span><span class="nx">Message</span><span class="p">,</span> <span class="s">&#34;users_uc_email&#34;</span><span class="p">)</span> <span class="p">{</span>
                <span class="k">return</span> <span class="nx">ErrDuplicateEmail</span>
            <span class="p">}</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="nx">err</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="kc">nil</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>We can then finish this all off by updating the <code>userSignup</code> handler like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignupPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userSignupForm</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;name&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MinChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">,</span> <span class="mi">8</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be at least 8 characters long&#34;</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Try to create a new user record in the database. If the email already
</span><span class="c1"></span>    <span class="c1">// exists then add an error message to the form and re-display it.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">users</span><span class="p">.</span><span class="nf">Insert</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrDuplicateEmail</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">form</span><span class="p">.</span><span class="nf">AddFieldError</span><span class="p">(</span><span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;Email address is already in use&#34;</span><span class="p">)</span>

            <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
            <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>

        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise add a confirmation flash message to the session confirming that
</span><span class="c1"></span>    <span class="c1">// their signup worked.
</span><span class="c1"></span>    <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">Put</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">,</span> <span class="s">&#34;Your signup was successful. Please log in.&#34;</span><span class="p">)</span>

    <span class="c1">// And redirect the user to the login page.
</span><span class="c1"></span>    <span class="nx">http</span><span class="p">.</span><span class="nf">Redirect</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="s">&#34;/user/login&#34;</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusSeeOther</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Save the files, restart the application and try signing up for an account. Make sure to remember the email address and password that you use&hellip; you&rsquo;ll need them in the next chapter!</p>

<figure class="img">
<img src="assets/img/11.03-04.png" alt="11.03-04.png" />
</figure>

<p>If everything works correctly, you should find that your browser redirects you to <code>https://localhost:4000/user/login</code> after you submit the form.</p>

<figure class="img">
<img src="assets/img/11.03-05.png" alt="11.03-05.png" />
</figure>

<p>At this point it&rsquo;s worth opening your MySQL database and looking at the contents of the <code>users</code> table. You should see a new record with the details you just used to sign up and a bcrypt hash of the password.</p>

<figure class="code bash">
<pre>mysql&gt; SELECT * FROM users;
<samp>+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
| id | name      | email           | hashed_password                                              | created             |
+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
|  1 | Bob Jones | bob@example.com | $2a$12$mNXQrOwVWp/TqAzCCyDoyegtpV40EXwrzVLnbFpHPpWdvnmIoZ.Q. | 2022-03-01 17:44:59 |
+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
1 row in set (0.01 sec)</samp></pre>
</figure>

<p>If you like, try heading back to the signup form and adding another account with the same email address. You should get a validation failure like so:</p>

<figure class="img">
<img src="assets/img/11.03-06.png" alt="11.03-06.png" />
</figure>

<hr />

<h3 id="additional-information">Additional information</h3>

<h4 id="using-database-bcrypt-implementations">Using database bcrypt implementations</h4>

<p>Some databases provide built-in functions that you can use for password hashing and verification instead of implementing your own in Go, like we have in the code above.</p>

<p>But it&rsquo;s probably a good idea to avoid using these for two reasons:</p>

<ul>
<li>They tend to be vulnerable to <a href="https://en.wikipedia.org/wiki/Timing_attack">side-channel timing attacks</a> due to string comparison time not being constant, at least in <a href="https://www.postgresql.org/docs/9.0/pgcrypto.html#AEN129954">PostgreSQL</a> and <a href="https://security.stackexchange.com/a/83675/210340">MySQL</a>.</li>
<li>Unless you&rsquo;re very careful, sending a plain-text password to your database risks the password being accidentally recorded in one of your database logs. A couple of high-profile examples of this happening were the <a href="https://www.bleepingcomputer.com/news/security/github-accidentally-recorded-some-plaintext-passwords-in-its-internal-logs/">Github</a> and <a href="https://www.bleepingcomputer.com/news/security/twitter-admits-recording-plaintext-passwords-in-internal-logs-just-like-github/">Twitter</a> incidents in 2018.</li>
</ul>

<h4 id="alternatives-for-checking-email-duplicates">Alternatives for checking email duplicates</h4>

<p>I understand that the code in our <code>UserModel.Insert()</code> method isn&rsquo;t very pretty, and that checking the error returned by MySQL feels a bit flaky. What if future versions of MySQL change their error numbers? Or the format of their error messages?</p>

<p>An alternative (but also imperfect) option would be to add an <code>UserModel.EmailTaken()</code> method to our model which checks to see if a user with a specific email already exists. We could call this <em>before</em> we try to insert a new record, and add a validation error message to the form as appropriate.</p>

<p>However, this would introduce a <dfn>race condition</dfn> to our application. If two users try to sign up with the same email address at <em>exactly</em> the same time, both submissions will pass the validation check but ultimately only one <code>INSERT</code> into the MySQL database will succeed. The other will violate our <code>UNIQUE</code> constraint and the user would end up receiving a <code>500 Internal Server Error</code> response.</p>

<p>The outcome of this particular race condition is fairly benign, and <a href="https://stackoverflow.com/questions/25702813/how-to-avoid-race-condition-with-unique-checks-in-django">some people</a> would advise you to simply not worry about it. But thinking critically about your application logic and writing code which avoids race conditions is a good habit to get into, and where there&rsquo;s a viable alternative &mdash; like there is in this case &mdash; it&rsquo;s better to avoid shipping with known race conditions in your codebase.</p>

			
		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="11.02-creating-a-users-model.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="11.04-user-login.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
	</body>
</html>
