<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2022">
		<title>User login &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="11.00-user-authentication-and-authorization.html">User authentication</a> &rsaquo; User login</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="11.03-user-signup-and-password-encryption.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="11.05-user-logout.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 11.4.</div>
			<h2 id="user-login">User login</h2>

<p>In this chapter were going to focus on creating the user login page for our application.</p>

<p>Before we get into the main part of this work, let&rsquo;s quickly revisit the <code>internal/validator</code> package that we made earlier and update it to support validation errors <em>which aren&rsquo;t associated with one specific form field</em>.</p>

<p>We&rsquo;ll use this later in the chapter to show the user a generic “<em>your email address or password is wrong”</em> message if their login fails, as this considered <a href="https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html#authentication-responses">more secure</a> than explicitly indicating why the login failed.</p>

<p>Please go ahead and update your <code>internal/validator/validator.go</code> file like so:</p>

<figure class="code go">
<figcaption>File: internal/validator/validator.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">validator</span>

<span class="o">...</span>

<span class="c1">// Add a new NonFieldErrors []string field to the struct, which we will use to 
</span><span class="c1"></span><span class="c1">// hold any validation errors which are not related to a specific form field.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">Validator</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">NonFieldErrors</span> <span class="p">[</span><span class="p">]</span><span class="kt">string</span>
    <span class="nx">FieldErrors</span>    <span class="kd">map</span><span class="p">[</span><span class="kt">string</span><span class="p">]</span><span class="kt">string</span>
<span class="p">}</span>

<span class="c1">// Update the Valid() method to also check that the NonFieldErrors slice is
</span><span class="c1"></span><span class="c1">// empty.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">v</span> <span class="o">*</span><span class="nx">Validator</span><span class="p">)</span> <span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nb">len</span><span class="p">(</span><span class="nx">v</span><span class="p">.</span><span class="nx">FieldErrors</span><span class="p">)</span> <span class="o">==</span> <span class="mi">0</span> <span class="o">&amp;&amp;</span> <span class="nb">len</span><span class="p">(</span><span class="nx">v</span><span class="p">.</span><span class="nx">NonFieldErrors</span><span class="p">)</span> <span class="o">==</span> <span class="mi">0</span>
<span class="p">}</span>

<span class="c1">// Create an AddNonFieldError() helper for adding error messages to the new
</span><span class="c1"></span><span class="c1">// NonFieldErrors slice.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">v</span> <span class="o">*</span><span class="nx">Validator</span><span class="p">)</span> <span class="nf">AddNonFieldError</span><span class="p">(</span><span class="nx">message</span> <span class="kt">string</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">v</span><span class="p">.</span><span class="nx">NonFieldErrors</span> <span class="p">=</span> <span class="nb">append</span><span class="p">(</span><span class="nx">v</span><span class="p">.</span><span class="nx">NonFieldErrors</span><span class="p">,</span> <span class="nx">message</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Next let&rsquo;s create a new <code>ui/html/pages/login.tmpl</code> template containing the markup for our login page. We&rsquo;ll follow the same pattern for showing validation errors and re-displaying data that we used for our signup page.</p>

<figure class="code bash">
<pre>$ cd $HOME/code/snippetbox
$ touch ui/html/pages/login.tmpl</pre>
</figure>

<figure class="code html">
<figcaption>File: ui/html/pages/login.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Login{{end}}

{{define &#34;main&#34;}}
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&#39;/user/login&#39;</span> <span class="na">method</span><span class="o">=</span><span class="s">&#39;POST&#39;</span> <span class="na">novalidate</span><span class="p"></span><span class="p">&gt;</span>
    <span class="c">&lt;!--</span><span class="c"> Notice that here we are looping over the NonFieldErrors and displaying
</span><span class="c">    them, if any exist </span><span class="c">--&gt;</span>
    {{range .Form.NonFieldErrors}}
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    {{end}}
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Email:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.email}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Email}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Password:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.password}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;password&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;password&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;submit&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;Login&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">form</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>Then let’s head to our <code>cmd/web/handlers.go</code> file and create a new <code>userLoginForm</code> struct (to represent and hold the form data), and adapt our <code>userLogin</code> handler to render the login page.</p>

<p>Like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Create a new userLoginForm struct.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">userLoginForm</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Email</span>               <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;email&#34;</span><span class="s">`</span>
    <span class="nx">Password</span>            <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;password&#34;</span><span class="s">`</span>
    <span class="nx">validator</span><span class="p">.</span><span class="nx">Validator</span> <span class="s">`</span><span class="s">form:&#34;-&#34;</span><span class="s">`</span>
<span class="p">}</span>

<span class="c1">// Update the handler so it displays the login page.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userLogin</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">userLoginForm</span><span class="p">{</span><span class="p">}</span>
    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;login.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>If you run the application and visit <a href="https://localhost:4000/user/login"><code>https://localhost:4000/user/login</code></a> you should now see the login page looking like this:</p>

<figure class="img">
<img src="assets/img/11.04-01.png" alt="11.04-01.png" />
</figure>

<h3 id="verifying-the-user-details">Verifying the user details</h3>

<p>The next step is the interesting part: <em>how do we verify that the email and password submitted by a user are correct?</em></p>

<p>The core part of this verification logic will take place in the <code>UserModel.Authenticate()</code> method of our user model. Specifically, we&rsquo;ll need it to do two things:</p>

<ol>
<li><p>First it should retrieve the hashed password associated with the email address from our MySQL <code>users</code> table. If the email doesn&rsquo;t exist in the database, or it&rsquo;s for a user that has been deactivated, we will return the <code>ErrInvalidCredentials</code> error that we made earlier.</p></li>

<li><p>Otherwise, we want to compare the hashed password from the <code>users</code> table with the plain-text password that the user provided when logging in. If they don&rsquo;t match, we want to return the <code>ErrInvalidCredentials</code> error again. But if they do match, we want to return the user&rsquo;s <code>id</code> value from the database.</p></li>
</ol>

<p>Let&rsquo;s do exactly that. Go ahead and add the following code to your <code>internal/models/users.go</code> file:</p>

<figure class="code go">
<figcaption>File: internal/models/users.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">models</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">m</span> <span class="o">*</span><span class="nx">UserModel</span><span class="p">)</span> <span class="nf">Authenticate</span><span class="p">(</span><span class="nx">email</span><span class="p">,</span> <span class="nx">password</span> <span class="kt">string</span><span class="p">)</span> <span class="p">(</span><span class="kt">int</span><span class="p">,</span> <span class="kt">error</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Retrieve the id and hashed password associated with the given email. If
</span><span class="c1"></span>    <span class="c1">// no matching email exists we return the ErrInvalidCredentials error.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">id</span> <span class="kt">int</span>
    <span class="kd">var</span> <span class="nx">hashedPassword</span> <span class="p">[</span><span class="p">]</span><span class="kt">byte</span>

    <span class="nx">stmt</span> <span class="o">:=</span> <span class="s">&#34;SELECT id, hashed_password FROM users WHERE email = ?&#34;</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">m</span><span class="p">.</span><span class="nx">DB</span><span class="p">.</span><span class="nf">QueryRow</span><span class="p">(</span><span class="nx">stmt</span><span class="p">,</span> <span class="nx">email</span><span class="p">)</span><span class="p">.</span><span class="nf">Scan</span><span class="p">(</span><span class="o">&amp;</span><span class="nx">id</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">hashedPassword</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">sql</span><span class="p">.</span><span class="nx">ErrNoRows</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span> <span class="mi">0</span><span class="p">,</span> <span class="nx">ErrInvalidCredentials</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="k">return</span> <span class="mi">0</span><span class="p">,</span> <span class="nx">err</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="c1">// Check whether the hashed password and plain-text password provided match.
</span><span class="c1"></span>    <span class="c1">// If they don&#39;t, we return the ErrInvalidCredentials error.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">CompareHashAndPassword</span><span class="p">(</span><span class="nx">hashedPassword</span><span class="p">,</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="nx">password</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nx">ErrMismatchedHashAndPassword</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span> <span class="mi">0</span><span class="p">,</span> <span class="nx">ErrInvalidCredentials</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="k">return</span> <span class="mi">0</span><span class="p">,</span> <span class="nx">err</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise, the password is correct. Return the user ID.
</span><span class="c1"></span>    <span class="k">return</span> <span class="nx">id</span><span class="p">,</span> <span class="kc">nil</span>
<span class="p">}</span></pre>
</figure>

<p>Our next step involves updating the <code>userLoginPost</code> handler so that it parses the submitted login form data and calls this <code>UserModel.Authenticate()</code> method.</p>

<p>If the login details are valid, we then want to add the user&rsquo;s <code>id</code> to their session data so that &mdash; for future requests &mdash; we know that they have authenticated successfully and which user they are.</p>

<p>Head over to your <code>handlers.go</code> file and update it as follows:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userLoginPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Decode the form data into the userLoginForm struct.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userLoginForm</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Do some validation checks on the form. We check that both email and
</span><span class="c1"></span>    <span class="c1">// password are provided, and also check the format of the email address as
</span><span class="c1"></span>    <span class="c1">// a UX-nicety (in case the user makes a typo).
</span><span class="c1"></span>    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;login.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Check whether the credentials are valid. If they&#39;re not, add a generic
</span><span class="c1"></span>    <span class="c1">// non-field error message and re-display the login page.
</span><span class="c1"></span>    <span class="nx">id</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">users</span><span class="p">.</span><span class="nf">Authenticate</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrInvalidCredentials</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">form</span><span class="p">.</span><span class="nf">AddNonFieldError</span><span class="p">(</span><span class="s">&#34;Email or password is incorrect&#34;</span><span class="p">)</span>

            <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
            <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;login.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Use the RenewToken() method on the current session to change the session
</span><span class="c1"></span>    <span class="c1">// ID. It&#39;s good practice to generate a new session ID when the 
</span><span class="c1"></span>    <span class="c1">// authentication state or privilege levels changes for the user (e.g. login
</span><span class="c1"></span>    <span class="c1">// and logout operations).
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">RenewToken</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Add the ID of the current user to the session, so that they are now
</span><span class="c1"></span>    <span class="c1">// &#39;logged in&#39;.
</span><span class="c1"></span>    <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">Put</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;authenticatedUserID&#34;</span><span class="p">,</span> <span class="nx">id</span><span class="p">)</span>

    <span class="c1">// Redirect the user to the create snippet page.
</span><span class="c1"></span>    <span class="nx">http</span><span class="p">.</span><span class="nf">Redirect</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="s">&#34;/snippet/create&#34;</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusSeeOther</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<aside class="note"><p>
<strong>Note:</strong> The <a href="https://pkg.go.dev/github.com/alexedwards/scs/v2#SessionManager.RenewToken"><code>SessionManager.RenewToken()</code></a> method that we&rsquo;re using in the code above will change the ID of the current user&rsquo;s session <em>but retain any data associated with the session</em>. It&rsquo;s good practice to do this before login to mitigate the risk of a session fixation attack. For more background and information on this, please see the <a href="https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Session_Management_Cheat_Sheet.md#renew-the-session-id-after-any-privilege-level-change">OWASP Session Management Cheat Sheet</a>.
</p></aside>

<p>Alright, let&rsquo;s give this a try!</p>

<p>Restart the application and try submitting some invalid user credentials&hellip;</p>

<figure class="img">
<img src="assets/img/11.04-02.png" alt="11.04-02.png" />
</figure>

<p>You should get a non-field validation error message which looks like this:</p>

<figure class="img">
<img src="assets/img/11.04-03.png" alt="11.04-03.png" />
</figure>

<p>But when you input some correct credentials (use the email address and password for the user that you created in the previous chapter), the application should log you in and redirect you to the create snippet page, like so:</p>

<figure class="img">
<img src="assets/img/11.04-04.png" alt="11.04-04.png" />
</figure>

<figure class="img">
<img src="assets/img/11.04-05.png" alt="11.04-05.png" />
</figure>

<p>We&rsquo;ve covered quite a lot of ground in the last two chapters, so let&rsquo;s quickly take stock of where things are at.</p>

<ul>
<li><p>Users can now <em>register</em> with the site using the <code>GET /user/signup</code> form. We store the details of registered users (including a hashed version of their password) in the <code>users</code> table of our database.</p></li>

<li><p>Registered users can then <em>authenticate</em> using the <code>GET /user/login</code> form to provide their email address and password. If these match the details of a user, we deem them to have authenticated successfully and add the relevant <code>&quot;authenticatedUserID&quot;</code> value to their session data.</p></li>
</ul>

			
		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="11.03-user-signup-and-password-encryption.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="11.05-user-logout.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
	</body>
</html>
